body {
    background-color: white;
}

h1 {
    color: black;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    color: black;
}

body {
    background-color: aliceblue;
}

.underline {
    font-style: italic;
    font-size: 40px;
}

.projects {
    color: green;
    font-size: 40px;
}

.interest {
    color: green;
    font-size: 40px;
}

div.hobbies {
    font-size: 20px;
}

.body {
    background-color: white;
}